//BS3 Part
.btn-primary { color:white; background-color:brown; border-color:brown; }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active { color:brown; background-color:white; border-color:brown; }

.btn-sm { color:brown; background-color:white; border-color:brown; }
.btn-sm:hover,
.btn-sm:focus,
.btn-sm:active,
.btn-sm.active { color:brown; background-color:white; border-color:brown; }

a { color: brown; }
a:hover,
a:focus,
a:active,
a.active { color:brown; }

//Main Layout Part
#wrapwrap {
  background: url(/website_tpl_leon/static/src/img/library/bg/bg_brown.jpg) repeat;
}

#my_header {
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
}

#top_menu {
  .active>a {
    background-color: transparent;
  }
  .open>a {
    background-color: transparent;
  }
  span {
    color: brown;
    font-size: smaller;
  }
}

#navbar-sub-main {
  background: url(/website_tpl_leon/static/src/img/library/bg/menu.jpg) no-repeat;
  font-weight: bolder;
  .dropdown {
    .dropdown-toggle {
      color: white;
    }
  }
  .navbar-right {
    li {
      min-width: 100px;
      text-align: center;
      a {
        background: url(/website_tpl_leon/static/src/img/library/bg/menu-02.png) center no-repeat;
        color: white;
      }
    }
  }
}

footer {
  background: url(/website_tpl_leon/static/src/img/library/bg/footer.png) no-repeat;
  #footer {
    margin-top: 80px;
  }
  .text-muted {
    color: #666666;
  }
}

// homepage em
#em-r2 {
  .panel {
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
  }
  .panel-title {
    color: #666;
    font-weight: bolder;
  }
  .panel-heading {
    padding: 5px 15px;
    background-color: transparent;
    border-color: transparent;
  }
  .panel-body {
    padding: 0px;
  }
  .panel-primary {
    border-color: transparent;
  }
  li {
    list-style-type: disc;
    a {
      color: #666;
    }
  }
}
#em-r3 {
  .panel {
    background-color: transparent;
    border: 1px solid brown;
  }
  .panel-heading {
    background-color: transparent;
  }
  .panel-body {
    border-top: 1px solid brown;
  }
}

//BDBridge Part